/*
  /$$$$$$  /$$                   /$$                                    /$$    
 /$$__  $$| $$                  | $$                                   | $$    
| $$  \ $$| $$$$$$$   /$$$$$$$ /$$$$$$    /$$$$$$  /$$$$$$   /$$$$$$$ /$$$$$$  
| $$$$$$$$| $$__  $$ /$$_____/|_  $$_/   /$$__  $$|____  $$ /$$_____/|_  $$_/  
| $$__  $$| $$  \ $$|  $$$$$$   | $$    | $$  \__/ /$$$$$$$| $$        | $$    
| $$  | $$| $$  | $$ \____  $$  | $$ /$$| $$      /$$__  $$| $$        | $$ /$$
| $$  | $$| $$$$$$$/ /$$$$$$$/  |  $$$$/| $$     |  $$$$$$$|  $$$$$$$  |  $$$$/
|__/  |__/|_______/ |_______/    \___/  |__/      \_______/ \_______/   \___/  

    version : 1.0.0

*/


/* Reset  
    ==================================================================== */
@import 'blocks/reset';

/* Main Styles  
    ==================================================================== */

.ab-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.ab-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    content: '';
}

@import 'blocks/variables';
@import 'blocks/main';
@import 'blocks/header';
@import 'blocks/text';
@import 'blocks/shorts';
@import 'blocks/button';
