.ab-btn {
    font-size: 0.9rem;
    background-color: transparent;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;

    &-default {
        background-color: $mark-color;
        border: 1px solid $mark-color;
        color: $bg-white;
    }

    &-primary {
        border: 1px solid $mark-color;
    }

    &-succes {
        color: $bg-white;
        background-color: $success-color;
        border: 1px solid $success-color;
    }
}