.ab-btn {
    font-size: 0.9rem;
    background-color: transparent;
    border: 0;
    padding: 0.7em 2em;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;

    &-default {
        background-color: $mark-color;
        border: 1px solid $mark-color;
        color: $bg-white;
    }

    &-primary {
        border: 1px solid $mark-color;
    }

    &-success {
        color: $bg-white;
        background-color: $success-color;
        border: 1px solid $success-color;
    }

    &-smart {
        -webkit-transform: translate(0);
        transform: translate(0);
        background-image: linear-gradient(45deg, #4568dc, #b06ab3);
        border-radius: 4px;
        box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
        border: 1px solid #4568dc;
        -webkit-transition: box-shadow 0.25s;
        transition: box-shadow 0.25s;
        color: white;
    }

    &-danger {
        background-color: rgb(255, 67, 67);
        border: 1px solid rgb(255, 67, 67);
        color: white;
    }
}

.ab-btn-outline {
    color: black;
    background: transparent;
    opacity: 1;
}